// homepage.module.scss


.main {
  background: var(--background);
  color: var(--foreground);
  font-family: 'High Tower T', serif;
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.section {
  margin-top: 3rem;
  padding: 0 1rem;
}

.centeredTitle {
  text-align: center;
  color: var(--foreground);
  font-family: 'Felix Titling', serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

.buttonPrimary {
  background: var(--foreground);
  color: var(--background);
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: var(--radius, 4px);
  transition: background 0.3s;
  &:hover {
    background: var(--primary-hover, #383838);
  }
}

.buttonSecondary {
  background: transparent;
  color: var(--foreground);
  border: 2px solid var(--foreground);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: var(--radius, 4px);
  transition: background 0.3s, color 0.3s;
  &:hover {
    background: var(--secondary-hover, #f2f2f2);
  }
}

// a {
//   color: var(--foreground);
//   text-decoration: underline;
//   transition: color 0.2s;
//   &:hover {
//     color: var(--primary-hover, #383838);
//   }
// }

@media (max-width: 800px) {
  .main {
    padding: 20px 5px;
    gap: 32px;
  }
  .section {
    margin-top: 2rem;
    padding: 0;
  }
  .centeredTitle {
    font-size: 1.2rem;
  }
}
