:root {
    /* Typographie */
    --font-main: 'Inter', Arial, sans-serif;
    --font-size-base: 16px;
    --font-size-title: 2rem;
    --font-size-small: 0.9rem;
    --line-height: 1.5;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}   